.dashboardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.createProgramBtn{
  text-decoration: none;
  padding: 6px;
  color: rgb(255, 255, 255);
  border-radius: 4px;
  background-color: rgb(109, 163, 243);
}

.createProgramBtn:hover{
  background-color: rgba(109, 163, 243, 0.685);
}