.workoutSessionContainer{
  max-width: 900px;
  margin: auto;
  padding: 2rem;
}

.workoutSessionTitle{
  text-align: center;
  margin-bottom: 0.5rem;
}

.workoutSessionSubTitle{
  text-align: center;
  color: #666;
  margin-bottom: 2rem;
}

.currentWorkoutCard{
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1.5rem;
}

.currentWorkoutCard h4{
  margin-bottom: 0.5rem;
  color: #222;
}

.workoutPlan{
  color: #666;
  margin-bottom: 1rem;
}

.setRow{
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.8rem;
  flex-wrap: wrap;
}

.setLabel{
  min-width: 70px;
  font-weight: bold;
}

.setRow input{
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 110px;
  margin: 5px 5px;
}

.setSaveBtn{
  width: auto;
  padding: 8px 16px;
  background-color: #33869b;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.setSaveBtn:hover{
  background-color: #2a6e7b;
}


@media(max-width:700px){

  .workoutSessionContainer{
    padding: 1rem;
  }

  .setRow{
    flex-direction: column;
    align-items: stretch;
  }

  .setRow input{
    width: 100%;
  }

  .setSaveBtn{
    margin: 5px;
  }
}